body{
    min-height: 50vh;
    display: grid;
    place-items: center;
    margin: 0px;
    padding: 0px;
    background-image: url('../CSS/fondo.jpg');
    background-position: center center;
    background-repeat: repeat;
    background-size: 200px;
    background-attachment: fixed;

}

h1{
    font-family: 'Edu SA Beginner', cursive;
    font-size: 90px;
    color: #ffa0fc;
    text-shadow: 4px 4px 10px rgb(128, 1, 135);
    text-align: center;
    cursor: default;
    margin-top: 20px;
    margin-bottom: 10px;
}

.termino {
    padding: 0% 0% 0% 1%;
    width: 250px;
    height: 70px;
    font-family: 'Edu SA Beginner', cursive;
    font-size: 25px;
    line-height: 3.0;
    background-color: rgb(248, 234, 105);
    transition: background-color 0.6s, color 0.6s;
    border: 3px solid #f60aee;
    border-radius: 10px 20px 10px 20px;
    opacity:0.9;
    margin-bottom: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3)
}

.termino:hover{
    background-color: #ffa0fc;


}

.resultados {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 10px;

}

.resultados img{
    width: 300px;
    height: 300px;
    border: 5px solid #191817;
    border-radius: 50%;

}

.buscar{
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-family: 'Edu SA Beginner', cursive;
    background-color: rgb(248, 234, 105);
    cursor: pointer;
    transition: background-color 0.6s, color 0.6s;
    border: 3px solid #f60aee;
    border-radius: 10px 20px 10px 20px;
    opacity:0.9;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3)
}

.buscar:active{
    border-color: #191817;
    
}

.buscar:hover{
    background-color: #ffa0fc;
}

.preview-link {
    display: none;
    text-align: center;
    margin-top: 5px;
    color: #f60aee;
    text-decoration: none;
    font-family: 'Edu SA Beginner', cursive;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
}

.preview-link.visible {
    display: block;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .resultados {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 60px;
    }

    .resultados {
        grid-template-columns: 1fr;
    }

    .resultados img {
        width: 250px;
        height: 250px;
    }

    .termino {
        width: 90%;
        font-size: 20px;
        height: 60px;
    }

    .buscar {
        width: 90px;
        height: 45px;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 40px;
    }

    .resultados img {
        width: 200px;
        height: 200px;
    }

    .termino {
        font-size: 16px;
        height: 50px;
    }

    .buscar {
        width: 80px;
        height: 40px;
        font-size: 16px;
    }
}